body {
  background-color: #3d3d3d;
  color: #70c36b;
}

a {
  color: #f9dc5c;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#guestbook-form {
  background-color: #70c36b;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

#guestbook-form label,
#guestbook-form input,
#guestbook-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  color: #3d3d3d;
  background-color: #f9dc5c;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

#guestbook-form input:focus,
#guestbook-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #70c36b;
}

#guestbook-form button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #3d3d3d;
  background-color: #f9dc5c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#guestbook-entries {
  margin: 20px;
  padding: 20px;
  background-color: #f9dc5c;
  border-radius: 10px;
}

#guestbook-entries div {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #70c36b;
}

#guestbook-entries p {
  margin: 0;
  font-size: 18px;
}

#guestbook-entries p small {
  color: #70c36b;
}

