@media (prefers-color-scheme: dark) {
    * {
	--textcolor: var(--textcolor);
	--bgcolor: var(--bgcolor); /* #0b0703; #0f0d11 #0d0d0f; #141414; */
	--highlight: var(--highlight); /* #dd61ce #ba4cac; #ffc400; */
	--bgimg: var(--bgcolor);
	--bodyimg: var(--bgcolor);

	/* cursors from https://www.cursors-4u.com */
	cursor: url(https://cur.cursors-4u.net/games/gam-16/gam1503.cur), auto !important;
    }

}

* { margin: 0; padding: 0; box-sizing: border-box;

    /* Color scheme */

    --textcolor: #dadada;
    --bgcolor: #0f0d11;
    --highlight: #F5DF50;
    --neoncolor: #F5DF50;
    --hovercolor: #FFcf33;
    --shadowcolor: #F7DA08; /* animation */
    --greencolor: #4CAF50;  /* #16b746; code #53fc5e */
    --extracolor: #f99509;  /* #ff60ca; */
    --extralightcolor: #E49200; /*#7f236e;*/
    --cyan: #31c6c1;

    /*--bgimg: url(/chitra/img/dark-wood.jpg);*/
    --bgimg: var(--bgcolor);
    /*--bodyimg: url(/chitra/img/ocean.jpg);*/
    --bodyimg: var(--bgcolor);
  }

:root {
    --fs-xl: 2.3rem;
    --fs-600: 1.5rem;
    --fs-500: 1.01rem;
    --fs-400: .0.9rem ;
}

@media (min-width: 40em) {
    :root {
    --fs-xl: 2.03rem;
    --fs-600: 2rem;
    --fs-500: 1.11rem;
    --fs-400: 1.01rem ;
    }
}


/* ------- Custom Div Classes------- */

.badges {
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
    grid-auto-flow: dense;
}

/* ------- Sections ------- */

section {
    padding: calc(6em + 5vw) 5vw 8vw 5vw;
    /* ! Everything below is needed ! */
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    /*background: var(--bgcolor);*/
    background: var(--bgimg);
}

section:target { /* Show section */
    display: block;
}

section#home { /* Show #home by default */
    display: block;
    background: var(--bgimg);
}

body {
    font-family: "JetBrains Mono", system-ui, sans-serif;
    font-size: var(--fs-400);
    line-height: 1.4;
    color: var(--textcolor);
    position: relative;
    /*background: var(--bgcolor);*/
    background: var(--bodyimg);
    max-width: 64em;  /* remove this for a full-width layout */
    margin: 0 auto;  /* centers the layout */
}

h2, h3, h4 {
    font-size: var(--fs-400);
    font-weight: 600;
    margin: 1.6em 0 .6em 0;
    color: var(--highlight);
}

ul, ol, article {
    max-width: 60ch; /* Limit line-length to 60 characters */
    margin-bottom: .6em;
}


header h1 {
    font-size: var(--fs-xl);
    flex: 1; /* pushes nav to the right */
    /* white-space: nowrap;*/
    word-wrap: break-word;
    padding: 0 5vw .5em 0;
}

neon {
    font-size: var(--fs-xl);
    flex: 1;
    white-space: nowrap;
    color: var(--neoncolor);
    animation: animate 1s ease-in-out infinite alternate;
}

.border {
    padding: 30px;
    border: 1px solid var(--highlight);
}

@keyframes animate{
    from{
	text-shadow: 0 0 10px var(--shadowcolor);
    }
    to{
	text-shadow: 0 0 20px var(--shadowcolor),
		     0 0 5px var(--shadowcolor);
    }
}

.box a::after {
    content: " _";
    width: 0px;
    height: 0px;
    background: var(--highlight);
    display: inline-block;
}

@keyframes cursor-blink {
    0% {
	opacity: 0;
    }
}

.box a::after {
    animation: cursor-blink 1.5s steps(2) infinite;
}

xdiv {
    display: inline-flex;
    padding: 30px;
    border:1px solid var(--highlight);
    margin-bottom: .6em;
}


edges {
    padding: 1.3vw;
    border: 1px solid var(--greencolor);
}

p {
    color: var(--greencolor);
    font-size: var(--fs-400);
    word-wrap: break-word;
}

em {
    font-family: "VictorMono", cursive;
    color: var(--greencolor);
}

code {
    font-family: "JetBrains Mono", monospace;
    font-size: var(--fs-400);
    opacity: 0.9;
    color: var(--cyan);
}

textarea {
    font-family: "JetBrains Mono", monospace;
    font-size: var(--fs-400);
    opacity: 0.9;
    color: var(--highlight);
    max-width: 90ch;
}


a:hover {
    border-bottom: 1px solid;
    border-top: 1px solid;
    animation: pulsate 1s ease-in-out;
}

aside {
    width: 30%;
    padding: 10px;
    float: right;
    color: var(--textcolor);
}

.right {
    width: 25%;
    padding-right: 2%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-style: italic;
    font-family: "VictorMono", cursive;
}


special-quote {
    width: 30%;
    font-family: VictorMono, 'Marck Script', cursive;
    font-size: var(--fs-500);
    color: var(--extracolor);
}


/* ------- Header ------- */

header {
    padding: 5vw 5vw 0 5vw;
    font-size: --var(--fs-xl);
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    z-index: 2;
}

#blogHeader {
    padding: 1vw 1vw 0 1vw;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fs-600);
    position: relative;
    width: 100%;
    z-index: 2;
}


nav a:not(:last-of-type) {
    margin-right: 1.5vw;
}

/* ------- General ------- */

a {
    text-decoration: none;
    color: var(--highlight);
}

section {
    font-size: var(--fs-400);
    margin: 0 0 1em 0;
}

ul {
    list-style-type: none;
}

ul li::marker {
    content: "\2022   ";
}

li {
    margin-bottom: .2em;
}

ul, ol {
    padding-left: 2ch;
}

b, strong {
    font-weight: 600;
}

small {
    font-size: .85em;
}

hr {
    height: 1px;
    border: 0;
    background: currentColor;
    opacity: .1;
    margin: 1.2em 0;
}

abbr {
    text-decoration: none;
}

abbr[title]:hover {
    opacity: .7;
    cursor: help;
}

blockquote {
    padding-left: 2ch;
    opacity: .7;
    margin-bottom: .6em;
    position: relative;
    font-size: var(--fs-400);
}

blockquote:before {
    content: "";
    position: absolute;
    left: 0;
    top: .3em;
    bottom: .3em;
    background: currentColor;
    width: 1px;
    opacity: .2;
}

img, svg, video, audio {
    display: block;
    max-width: 100%;
    height: auto;
    fill: currentColor;
    object-fit: contain;
}

a code {
    opacity: 1;
}

pre, textarea { /* for code samples */
    font-size: .9em;
    /* color: inherit; */
    line-height: inherit;
    padding: .6em .9em;
    margin: .8em 0 1em 0;
    position: relative;
    display: block;
    width: 100%;
    white-space: pre;
    border: 0;
    border-radius: 4px;
    background: rgba(86.7,38.0,80.8,.060);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.2), inset -1px -1px 0 rgba(0,0,0,.04) ;
}

#listlist {
    color: cyan;
}

/* Fuzzy Search */

/* #search {
    height: 37px;
    width: auto;
    min-width: 270px;
    position: relative;
    top: 5%;
} */


#leftarrow {
    color: var(--greencolor);
    margin-right: 10px;
    font-size: var(--fx-600);
    font-weight: bold;
    vertical-align: -5px;
    cursor: pointer;
}

#rightarrow {
    color: var(--greencolor);
    margin-right: 10px;
    font-size: var(--fx-600);
    font-weight: bold;
    vertical-align: -5px;
    cursor: pointer;
    display: none;
}

/* #search {
    flex: 1 1 auto;
    position: relative;
    right: 25px;
    bottom: 25px;
    z-index: 100000;
    background-color: transparent;
    width: 1%
    top: 5%;
} */

#searchbutton {
    cursor: pointer;
    padding: 5px 9px;
    font-size: var(--fs-400);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--highlight);
    color: var(--greencolor);
}


#searchfield {
    margin: auto;
    padding: 5px 9px;
    font-size: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: var(--highlight);
    background: bottom;
    max-width: 50%;
    color: var(--greencolor);
    font-weight: 500;
    font-style: italic;
    font-family: "VictorMono", cursive;
    outline: none;
}

#searchfield:focus {
 border-color:var(--highlight);
 border-width:2px;
 box-shadow:0 0 15px var(--highlight);
}

@-moz-document url-prefix(){
    #searchbutton {
	vertical-align: text-bottom;
	vertical-align: 0px;
    }
}

/* General Styles */

article {
    max-width: 60ch; /* Limit line-length to 60 characters */
    margin-bottom: .6em;
}

.mini-article {
    max-width: 30vw; /* Limit line-length to 60 characters */
    margin-bottom: .6em;
}

/* Inline footnotes */

label {
    cursor: pointer;
    vertical-align: super;
    line-height: 1;
    font-size: .75em;
    padding-left: .1em;
}

label:hover {
    color: var(--highlight);
}

label:before {content:"[";}
label:after {content:"]";}

label + input,
label + input + small {
    display: none;
}

input:checked + small {
    display: block;
    padding: .8em 0 1em 2.5vw;;
}

/* Figures */

figure {
    margin: 2em 0 1.5em 0;
}

figure figcaption {
    margin: 0.8em 0 0 0;
    font-size: 1em;
    opacity: .7;
}

#glass {
    /* From https://css.glass */
    background: rgba(255, 246, 246, 0.24);
    /*border-radius: 16px;*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 246, 246, 0.2);
    font-size: 3em;
    opacity: .9;
    margin: 0 auto;
}

/* Responsive video embeds */
figure.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

#vids {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

figure.video iframe, figure.video object, figure.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    visibility: hidden; /* so loading="lazy" should work? */
}

section:target iframe {
    visibility: visible;
}

/* External links */

/* File links */

a:before {
    font-size: .7em;
    margin-right: .4em;
}

/* Add more filetypes here if you want */

a[href$=".pdf"]:before { content: "PDF"; }
a[href$=".txt"]:before { content: "TXT"; }
a[href$=".key"]:before { content: "gpg"; }
a[href$=".mp3"]:before { content: "MP3"; }
a[href$=".zip"]:before { content: "ZIP"; }
a[href$=".rar"]:before { content: "RAR"; }
a[href$=".jpeg"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before { content: "IMG"; }

/* ------- News ------- */

article + article {
    margin-top: 4.5em;
}

article time {
    margin-left: .6em;
    font-size: .8em;
    font-weight: 400;
    opacity: .7;
}

/* ------- Images Grid ------- */

.grid {
    display: grid;
    grid-gap: 5vmin;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 150px = minimum image size */
    grid-auto-flow: dense;
    padding: 2em 0;
}


.grid a {
    position: relative;
    border: 0;
}

.grid a:hover {
    transform: scale(.975);
}

/* For a square ratio */
.grid a:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.grid a img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ------- Slideshow ------- */

.slides {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slides figure {
    height: 100vh;
    padding: 0 5vw;
    margin: 0;
    display: grid;
    place-items: center;
    align-content: center;
    scroll-snap-align: center;
}

.slides figure img {
    max-height: 88vh; /* Adjust if needed */
}

.slides figure.cover {
    padding: 0;
}

.slides figure.cover img {
    max-height: none;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* ------- Lightbox ------- */

.lightbox {
    display: none;
    color: var(--textcolor);
}

.lightbox:target {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    align-content: center;
    background: var(--bgcolor);
    border: 0;
    z-index: 3;
}

.lightbox img {
    max-height: 100vh;
    z-index: 4;
}

.lightbox:target:before { /* Loading spinner */
    content:"";
    height: 2em;
    width: 2em;
    animation: spin .8s infinite linear;
    border: 1px solid;
    border-right-color: transparent;
    border-radius: 50%;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    opacity: .25;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lightbox:target:after { /* Ã— to close */
    content: "\00D7";
    position: fixed;
    font-size: 2em;
    font-weight: 200;
    line-height: 0;
    top: .75em;
    right: .5em;
    z-index: 4;
}

/* ------- Lightbox Fig Captions ------- */
.container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    z-index: 9; 
}

.container:hover .overlay {
    opacity: 1;
    position: fixed;
}
.hgimage {
    display: block;
    width: 100%;
    height: auto;
}

/* ------- Smaller screens ------- */

@media only screen and (max-width: 680px) {
    /*body { font-size: 16px; }*/
    #img-gallery img { max-width: 170px; }
    .right { float: none; width: 70%; }
    #odysee-iframe { width: 350px; height: 115px;}
}

@media only screen and (max-width: 540px) {
    nav { width: 100%; } /* Fix for older webkit versions */
    #img-gallery img { max-width: 150px; }
    .overlay { width: 100%; }
    .right { float: none; width: 50%; }
    #odysee-iframe { width: auto; height: auto;}
}

/* ------- Print ------- */

@media print {

    nav, .lightbox:target:after { display: none; }

    article, figure, img {
	page-break-inside: avoid;
	break-inside: avoid;
    }

    /* Inline footnotes */

    label + input + small { display: inline; }
    label + input + small:before { content: "["; }
    label + input + small:after { content: "]"; }

    /* Slides */

    .slides, .slides figure {
	position: relative;
	height: auto;
	padding: 0;
    }

    .slides figure img, .slides figure.cover img {
	max-height: auto;
	position: relative;
	z-index: 1;
	width: auto;
	height: 100vh;
	object-fit: contain;
    }
